# constants
{% set home = os_env("HOME") %}
{% set pwd  = os_env("PWD")  %}

# --unshare-all
namespaces = [
  { type = "cgroup"  },
  { type = "ipc"     },
  { type = "network" },
  { type = "uts"     },
]

mounts = [
  # --rootfs
  { source = "/bin"   },
  { source = "/etc"   },
  { source = "/lib"   },
  { source = "/lib64" },
  { source = "/sbin"  },
  { source = "/usr"   },

  # --devfs /dev -b /dev/dri -b /dev/snd -b /sys
  { source = "", destination = "/dev", type = "devfs" },
  { source = "/dev/dri" },
  { source = "/dev/snd" },
  { source = "/sys"     },

  # --tmpfs /tmp -b /tmp/.X11-unix -b "$XAUTHORITY"
  { source = "", destination = "/tmp", type = "tmpfs" },
  { source = "/tmp/.X11-unix"                         },
  { source = "{{ os_env("XAUTHORITY") }}"             },

  # --tmpfs /run -b /run/dbus/system_bus_socket -b "$XDG_RUNTIME_DIR/bus"
  { source = "", destination = "/run", type = "tmpfs" },
  { source = "/run/dbus/system_bus_socket"            },
  { source = "{{ os_env("XDG_RUNTIME_DIR") }}/bus"    },

  # -B "$HAKONIWA_DATA_HOME/apps/firefox":"$HOME"
  { source = "{{ home }}/.local/share/hakoniwa/apps/firefox", destination = "{{ home }}", rw = true },

  # -B "$HOME/Downloads"
  { source = "{{ home }}/Downloads", rw = true },
]

envs = [
  # -e DISPLAY -e XAUTHORITY
  { name = "DISPLAY"    },
  { name = "XAUTHORITY" },

  # -e DBUS_SESSION_BUS_ADDRESS
  { name = "DBUS_SESSION_BUS_ADDRESS" },

  # -e HOME
  { name = "HOME" },
]

# --network=pasta:-T,auto
[network]
mode = "pasta"
options = ["-T", "auto"]

# -- /usr/bin/firefox
[command]
cmdline = ["/usr/bin/firefox"]
